html{
    background-color: #cacaca;
}

body{
    background-color: bisque;
    width: 1000px;
    margin: 0px auto;
    padding: 5px 16px 16px 16px;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px auto;
}

h3{
    text-align: center;
    font-weight: bold;
    margin: 16px 16px 70px 16px;
}

p{
    text-align: center;
    
}

#wrapper{
    margin: 0px auto;
    padding: 5px 16px 16px 16px;
    border-radius: 10px;
    background-color: white;
   
    
}

#cal{
    padding: 5px 16px 16px 16px;
    margin: 0px auto;
    text-align: center;
   
}


button{
    background-color: purple;
    background: no-repeat center/cover url("../images/circle.jpg");
    font-size: 70px;
    width: 150px;
    height: 150px;
    border: none;
    background-size: 80%;
    transition: color 1s, background-size 0.5s;
}

button:hover{
    background-image: url("../images/circle-2.jpg");
    background-size: 100%;
    cursor: pointer;
    color: azure;
}